<template>
  <div class="app-masthead">
      <div class="container">
        <nav class="nav app-nav">
          <router-link class="nav-link active" to="/register">Register</router-link>
          <router-link class="nav-link active" to="/users-list">Users</router-link>
        </nav>
      </div>
  </div>
</template>
<script>
export default {
  name: 'HeaderNavigation'
}
</script>

<style>
</style>