<template>
   <div class="container">
      <div class="row">
         <div class="col-sm-8 app-main">
            <form @submit.prevent="registerUser()" novalidate>
               <div class="form-group">
                  <label for="fullname">Full Name:</label>
                  <input type="text" v-model="user.name" class="form-control" id="fullname" aria-describedby="fullnameHelp" placeholder="Enter Full Name">
                  <small id="fullnameHelp" class="form-text text-muted">Please enter your full name.</small>
                  <div class="error-message">{{ errors.name }}</div>
               </div>
               <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" v-model="user.email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  <div class="error-message">{{ errors.email }}</div>
               </div>
               <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" v-model="user.password" class="form-control" id="password" placeholder="Password">
               </div>
               <div class="error-message">{{ errors.password }}</div>
                <div class="success-message">{{ message }}</div>
               <button  type="submit" class="btn btn-primary">Submit</button>
            </form>
         </div>
      </div>
   </div>
</template>
<script>
   import { mapActions } from 'vuex'
   import {validateName, validateEmail, validatePassword} from '../helpers/validation-utils'
   // should idealy be extracted to some models file
   const userModel = {name: '', email: '', password: ''};

   export default {
     name: 'Register',
     data(){
         return {
             user: userModel,
             valid: true,
             success: false,
             errors: {},
             message: null
         }
     },
     methods: {
         ...mapActions(['postUser']),
         registerUser(){
             // check validity
             this.errors = {}
   
             const validName = validateName(this.user.name);
               this.errors.name = validName.error;
               if (this.valid) {
                   this.valid = validName.valid
               }
   
               const validEmail = validateEmail(this.user.email);
               this.errors.email = validEmail.error;
               if (this.valid) {
                 this.valid = validEmail.valid
               }
   
               const validPassword = validatePassword(this.user.password)
               this.errors.password = validPassword.error
               if (this.valid) {
                 this.valid = validPassword.valid
               }
   
           if(this.valid) {
             
             this.postUser(this.user)
             this.errors = {}
             this.user = userModel
             this.message = 'User submitted to server'
            
           } 
         }
     }
   }
</script>
<style scoped>
.error-message {
  font-size: 1.5rem;
  font-weight: 700;
  color:rgb(236, 44, 44);
}
.success-message {
  font-size: 1.5rem;
  font-weight: 700;
  color:rgb(81, 202, 81);
}
</style>