<template>
   <div class="container">
      <div class="row">
         <div class="col align-self-center">
            <span> List of registred users</span>
            <ul class="list-group">
               <li class="list-group-item" v-bind:key="user.name" v-for="user in registeredUsers">
                  {{user.name}} &nbsp;  &nbsp; {{user.email}}
               </li>
            </ul>
         </div>
      </div>
   </div>
</template>
<script>
   import {mapActions, mapState} from 'vuex'
   
   export default {
     name: 'UsersList',
     created(){
         this.getUsersList()
     },
     computed: {
       ...mapState({
           registeredUsers : ({users: {usersList}}) => usersList.values
       })
     },
     methods: {
         ...mapActions(['getUsersList']),
     }
   }
</script>
<style></style>