<template>
  <div id="app">
   <app-header-navigation></app-header-navigation>
   <router-view></router-view>
   <app-footer></app-footer>
  </div>
</template>

<script>
import Footer from './components/Footer.vue'
import HeaderNavigation from './components/HeaderNavigation.vue'


export default {
  name: 'app',
  components: {
    'app-footer':Footer,
    'app-header-navigation': HeaderNavigation
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
